div(layout='row' layout-xs='column' layout-align='space-between stretch')
	aside(flex='nogrow' id='menu')
		md-toolbar
			h3 Curiosity Timesheet Panel
		md-list
			md-list-item(ng-click='')
				ng-md-icon(icon='access_time')
				span Timer
			md-list-item(ng-click='')
				ng-md-icon(icon='dashboard')
				span Dashboard
			md-list-item(ng-click='')
				ng-md-icon(icon='assessment')
				span Reports

			//- md-list-item(ng-click='')
			//- 	ng-md-icon(icon='grade')
			//- 	span Saved Reports

		md-divider

		h4 Manage

		md-divider

		md-list
			md-list-item(ng-click='')
				ng-md-icon(icon='folder')
				span Projects
			md-list-item(ng-click='')
				ng-md-icon(icon='people')
				span Clients
			md-list-item(ng-click='')
				ng-md-icon(icon='public')
				span Team
		flex

		h4 Usuario
		md-divider
			md-list
				md-list-item(ng-click='') 
					ng-md-icon(icon='person')
					span Profile

	md-content(flex ui-view='dashboardUI' layout-padding class='dashboardUI')

		//- Timer & Button

		section(layout='row' layout-align='center center' id='header-timer')
			div(flex)
				md-input-container(class='md-block' flex-gt-sm)
					label We are you working on?
					input
			div(flex='nogrow')
				div(class='md-headline')
					md-button(class='md-mini md-fab demo-dialog-open-button' ng-click='ctrl.showDialog ($event)')
						ng-md-icon(icon='local_offer')
					span  2:29:16
			div(flex='nogrow')
				md-button(class='md-mini md-fab')
					ng-md-icon(icon='play_arrow')

		section 
			//- CARDS
			h3 Yesterday
			//- Card 1
			md-card(layout-padding layout='row' layout-align='center center') 
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='delete')
						md-tooltip Borrar
				div(class='md-headline' flex) 
					p Animacion Luces Neon
				div(flex='nogrow') 
					div(class='md-headline') 2:29:16
					div 
						small 4:07PM - 4:38 PM
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='play_arrow')

			//- Card 1
			md-card(layout-padding layout='row') 
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='delete')
						md-tooltip Borrar
				div(class='md-headline' flex) 
					p Cinemagraph De Agua
				div(flex='nogrow') 
					div(class='md-headline') 2:29:16
					div 
						small 4:07PM - 4:38 PM
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='play_arrow')

			//- Card 1
			md-card(layout-padding layout='row') 
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='delete')
						md-tooltip Borrar
				div(class='md-headline' flex) 
					p Animacion Tecate Menguante
				div(flex='nogrow') 
					div(class='md-headline') 2:29:16
					div 
						small 4:07PM - 4:38 PM
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='play_arrow')

			//- CARDS
			h3 Mon, 24 Oct

			//- Card 1
			md-card(layout-padding layout='row') 
				div(class='md-headline' flex) 
					p Animacion Luces Neon
				div(flex='nogrow') 
					div(class='md-headline') 2:29:16
					div 
						small 4:07PM - 4:38 PM
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='play_arrow')
			//- Card 1
			md-card(layout-padding layout='row') 
				div(class='md-headline' flex) 
					p Animacion Luces Neon
				div(flex='nogrow') 
					div(class='md-headline') 2:29:16
					div 
						small 4:07PM - 4:38 PM
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='play_arrow')
			//- Card 1
			md-card(layout-padding layout='row') 
				div(class='md-headline' flex) 
					p Animacion Luces Neon
				div(flex='nogrow') 
					div(class='md-headline') 2:29:16
					div 
						small 4:07PM - 4:38 PM
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='play_arrow')
			//- Card 1
			md-card(layout-padding layout='row') 
				div(class='md-headline' flex) 
					p Animacion Luces Neon
				div(flex='nogrow') 
					div(class='md-headline') 2:29:16
					div 
						small 4:07PM - 4:38 PM
				div(flex='nogrow') 
					md-button
						ng-md-icon(icon='play_arrow')
