hgroup
	h1 Curiosity Timesheets
	h3 By Curiosity Labs
form
	div(class="group")
		input(type='text')
			span(class=highlight)
			span(class=bar)
		label Nombre
	div(class="group")
		input(type='password')
			span(class=highlight)
			span(class=bar)
		label Password
	button(type='button' class='button buttonBlue') Login
		div(class='ripples buttonRipples')
			span(class='ripplesCircle')

