//    dP""b8 88   88 88""Yb 88  dP"Yb  .dP"Y8 88 888888 Yb  dP     88        db    88""Yb .dP"Y8
//   dP   `" 88   88 88__dP 88 dP   Yb `Ybo." 88   88    YbdP      88       dPYb   88__dP `Ybo."
//   Yb      Y8   8P 88"Yb  88 Yb   dP o.`Y8b 88   88     8P       88  .o  dP__Yb  88""Yb o.`Y8b
//    YboodP `YbodP' 88  Yb 88  YbodP  8bodP' 88   88    dP        88ood8 dP""""Yb 88oodP 8bodP'
body {
  font-size: 16px;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.dashboardUI {
  background-color: #f4f4f4;
  h3 {
    font-weight: 400;
  }
  md-card {
    font-weight: 300;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    div {
      p {
        line-height: 48px;
        font-size: 1.1rem;
        color: rgba(0, 0, 0, .5);
        margin: 0 !important;
      }
      .md-headline {
        line-height: 30px;
        font-size: 1.2em;
        color: #888;
        text-align: right;
      }
      small {
        font-size: .7em;
        color: #666;
      }
    }
    .md-button {
      transition: all 0.2s ease-in-out;
      background-color: rgba(0, 0, 0, .1);
      min-width: 30px !important;
      min-height: 10px !important;
      line-height: 20px;
      display: block;
      border-radius: 40px;
      padding-top: 5px;
      opacity: 0;
    }
    &:hover {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      p {
        color: #444;
      }
      .md-button {
        opacity: 1;
      }
    }
  }
}

#header-timer {
  background-color: #FFF;
  margin: 0;
  .md-headline {
    color: rgba(0, 0, 0, .4);
    margin: 0 20px 0 0;
  }
  md-input-container {
    margin: 0 20px 0 0;
    padding: 0;
    &.md-input-has-value {
      input {
        border-bottom: 0 none transparent;
      }
    }
    &.md-input-focused {
      label {
        color: #fff;
      }
    }
    label {
      bottom: 80%;
      font-size: 1.4em;
      font-weight: 200;
    }
    input {
      border-bottom: 0 none transparent;
      height: 48px;
      margin: 0;
      font-size: 1.2em;
      padding-top: 16px;
      color: rgba(0, 0, 0, .7);
    }
  }
}

ul.nav-serv {
  margin: 0;
  padding: 0;
  list-style-type: none
}

ul.nav-serv li {
  width: 32%;
  display: inline-block;
  line-height: 30px;
  vertical-align: top;
}

aside#menu {
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  height: auto;
  min-height: 100%;
  min-width: 200px;
  font-size: .9em;
  border-right: 1px solid silver;
  h4 {
    text-indent: 20px;
    font-size: .8rem;
    margin: 16px 0 !important;
  }
  md-toolbar {
    background-color: rgba(0, 0, 0, .5);
    font-size: .8em;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 30px;
    line-height: 30px;
  }
  md-list-item {
    transition: all 0.4s ease-in-out;
    margin: 0;
    cursor: pointer;
    opacity: .7;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
    ng-md-icon {
      margin: 0 10px 0 1px;
      color: #fff;
      fill: #fff;
    }
    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, .3);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }
    &:active {
      opacity: 1;
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

.demo-md-panel {
  min-height: 500px;
}

.demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}

.demo-dialog-content {
  padding: 0 15px;
  width: 100%;
}

.demo-dialog-content img {
  height: 300px;
  margin: auto;
}

.demo-dialog-button {
  width: 100%;
}

.demo-menu-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 256px;
}

.demo-menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 0 16px;
  position: relative;
  transition: background 0.15s linear;
  width: auto;
}

.demo-menu-item:hover,
.demo-menu-item:focus {
  background-color: rgb(238, 238, 238);
}

.demo-menu-item.selected {
  color: rgb(16, 108, 200);
}
